@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Hanken Grotesk", sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

        /* RESULT */

.result-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 325px;
    border-radius: 20px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-div h1 {
    margin-bottom: 10px;
    color: white;
}

.result-div h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: hsl(241, 100%, 89%);
}

.result-div p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    width: 80%;
    text-align: center;
}


@media (min-width: 1920px) {
    .result-div {
        height: 550px;
        width: 375px;
    }

    .result-div h1 {
        font-size: 40px;
    }

    .result-div h2 {
        font-size: 24px;
    }

    .result-div p {
        font-size: 20px;
        width: 75%;
    }
}

.circle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 50px;
    border-radius: 100px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle-div h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 55px;
    font-weight: 800;
}

.circle-div p {
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(241, 100%, 89%);
    font-size: 14px;
}

@media (min-width: 1920px) {
    .circle-div {
        padding: 50px 65px;
        border-radius: 1000px;
    }
    
    .circle-div h1 {
        font-size: 70px;
    }
    
    .circle-div p {
        font-size: 18px;
    }
}


        /* SUMMARY */

.summary-div {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 325px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 15px 15px 50px rgba(200, 199, 255, 0.5);
}

.summary-div h3 {
    margin-left: 35px;
    margin-top: 30px;
}

@media (min-width: 1920px) {
    .summary-div {
        height: 550px;
        width: 375px;
    }
    
    .summary-div h3 {
        margin-left: 45px;
        font-size: 24px;
    }
}

.stats-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0;
    margin-left: 35px;
    height: 250px;
}

.stats-div p {
    margin-left: 50px;
    margin-right: 15px;
}

.stats-div span {
    color:gray;
}

@media (min-width: 1920px) {
    .stats-div {
        margin-top: -10px;
        margin-left: 45px;
        height: 325px;
    }
    
    .stats-div p {
        margin-left: 50px;
        margin-right: 15px;
    }
}

.reaction-stat,
.memory-stat,
.verbal-stat,
.visual-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-weight: 500;
}

@media (min-width: 1920px) {
    .reaction-stat,
    .memory-stat,
    .verbal-stat,
    .visual-stat {
        height: 60px;
        width: 290px;
        font-size: 18px;
    }
}

.reaction-stat {
    background-color: hsla(0, 100%, 67%, 0.07);
}

.memory-stat {
    background-color: hsla(39, 100%, 56%, 0.07);
}

.verbal-stat {
    background-color: hsla(166, 100%, 37%, 0.07);
}

.visual-stat {
    background-color: hsla(234, 85%, 45%, 0.07);
}

.img-name {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.img-name p {
    margin-left: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

button {
    width: 250px;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

@media (min-width: 1920px) {
    button {
        width: 290px;
        font-size: 20px;
    }
}

button:hover {
    cursor: pointer;
}

button:active {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

